<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{{ .Site.Title }}</title>


<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

{{ if .Site.IsServer }}
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
{{ else }}
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
{{ end }}

{{ $style := resources.Get "css/styles.css" | postCSS (dict "config" "./assets/css/dev/postcss.config.js") }}
<link rel="stylesheet" href="{{ $style.Permalink }}">

<link rel="stylesheet" type="text/css" href="/styles.css">
<script src="/script.js"></script>