{{ define "main" }}
<article class="text-center text-gray-700">

    <h1 class="font-serif text-5xl text-gray-600">{{ .Title }}</h1>
    <h3 class="font-serif text-gray-500 text-xl mb-6">{{ $.Param "tagline" }}</h3>

    <div id="app" class="m-auto">
        <div>
            <div class="my-4">
                <label>I would like to live in</label>
                <select v-model="location">
                    <option :value="null">any city</option>
                    <option v-for="c in locations">{{ "{{ c }}" }}</option>
                </select>
            </div>

            <div class="my-4">
                <label>I would like my company size to be</label>
                <select v-model="size">
                    <option :value="null">any size</option>
                    <option v-for="s in sizes" :value="s.value">{{ "{{ s.text }}" }}</option>
                </select>
            </div>

            <div class="my-4">
                <label>I would like to work in</label>
                <select v-model="industry">
                    <option :value="null">any industry</option>
                    <option v-for="i in industries" :value="i.value">{{ "{{ i.text }}" }}</option>
                </select>
            </div>
        </div>
        <transition name="fade">
            <div v-if="!loading">
                <input type="text" v-model="titleSearch" placeholder="Title Filter" class="my-2 border">
                <table class="table table-fixed w-full m-auto mb-4">
                    <thead>
                        <tr>
                            <th v-for="col in colHeaders" :key="col" class="border w-1/3 px-4 py-2">{{ "{{ col }}" }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(row, index) in rows" :key="row.id" :class="{ 'bg-gray-100': index % 2 === 0 }">
                            <td v-for="col in cols" :key="col" class="border px-4 py-2">
                                <a v-if="col === 'title'" :href="row['absolute_url']">{{ "{{ row[col] }}" }}</a>
                                <span v-else>{{ "{{ row[col] }}" }}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </transition>
    </div>

</article>
{{ end }}