{{ define "main" }}
<article class="text-center text-gray-700">

    <h1 class="font-serif text-5xl text-gray-600">{{ .Title }}</h1>
    <h3 class="text-gray-500 text-xl mb-6">{{ $.Param "tagline" }}</h3>

    <p>I would like to live in</p>
    <select id="location-selector" onchange="filterJobs()">
        <option value="#inv4l!d">City</option>
        <option value="">Any</option>
        <option value="San Francisco">San Francisco</option>
        <option value="New York">New York</option>
        <option value="Chicago">Chicago</option>
        <option value="Remote">Remote</option>
    </select>

    <p>I would like my company size to be</p>
    <select id="size-selector" onchange="filterJobs()">
        <option value="#inv4l!d">Size</option>
        <option value="">Any</option>
        <option value="sm">Small</option>
        <option value="med">Medium</option>
        <option value="lg">Large</option>
    </select>

    <p>I would like to work in</p>
    <select id="industry-selector" onchange="filterJobs()">
        <option value="#inv4l!d">Industry</option>
        <option value="">Any</option>
        <option value="tech">Tech</option>
        <option value="mda">Media</option>
        <option value="bty">Beauty</option>
        <option value="fin">Finance</option>
    </select>

    <div id="app" class="m-auto">
        <div>
            <select v-model="city">
                <option disabled>City</option>
                <option :value="null">Any</option>
                <option v-for="c in cities" :key="c">{{ "{{ c }}" }}</option>
            </select>
            <p>{{ "{{ city }}" }}</p>
        </div>
        <div>
            <input type="text" v-model="search" placeholder="Search">
            <input type="text" v-model="search2" placeholder="Search2">
        </div>
        <table>
            <thead>
                <tr>
                    <th v-for="col in colHeaders" :key="col">{{ "{{ col }}" }}</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="row in rows" :key="row.id">
                    <td v-for="col in cols" :key="col">{{ "{{ row[col] }}" }}</td>
                </tr>
            </tbody>
        </table>
    </div>

</article>
{{ end }}